.aptos-dropdown{
    position: relative;
    .label-key{       
        font-weight: 700;
        font-size: 13px;
    }
    .aptos-dropdown-selector{
        display: flex;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-top: 5px;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        width: 100%;
        cursor: pointer;
        box-shadow: 3px 2px 4px 0px rgba(57,63,70,0.08);
    }
    
    button.aptos-dropdown-selector:disabled{
        background: #ccc;
        opacity: 0.8;
        cursor: not-allowed;
        color: #000;
    }
    .place-holder{
        color: #ccc;
    }
}
.aptos-dropdown-options{
    position: absolute;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    padding: 5px 5px 5px 0;
    margin-top: 3px;
    z-index: 1;
    display: none;
    &.showdropdown{
        display: block;
    }
    .aptos-dropdown-scroll{       
        max-height: 250px;
        overflow: auto;
    }
    li{
        display: block;
        padding: 10px;
        cursor: pointer;
        &:hover , &.active{
            background-color: #e6f6fc;
        }
    }
}
.arrow {
    border: solid #000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #f0f2f5;
  }
  ::-webkit-scrollbar-thumb {
    background: #4d607b;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }